- content_for :title do
  E-Commerce &ndash; Services &ndash; Isotope|eleven

#internal-title	
  %h2{:class => "typeface-js"}
    Services 
.work_content_right
  = image_tag '/images/ecommerce.png', :alt => 'E-Commerce Image'
  %h4 E-Commerce 
  .clear
  %ul 
    %li
      Integration with payment providers such as
      = link_to 'braintree,', 'http://www.braintreepaymentsolutions.com' 
      = link_to 'paypal,', 'http://www.paypal.com' 
      and
      = link_to 'authorize.net', 'http://www.authorize.net'
    %li 
      Full shopping cart ssytem via the open source 
      = link_to 'Spree', 'http://www.spreecommerce'
      platform
    %li Inventory Control
    %li User management
    %li Recurring billing
    %li Wholesale and retail shops

.work_content_left
  %h3{:class => "typeface-js"}
    E-Commerce 
%p
  Ready to get your business online, and move beyond a basic webpage? We leverage proven open source tools such as Spree to provide a complete solution for your online sales needs. It is easily extensible and can be customized to not only have the look and feel your customers demand, but the features and reporting that you need to grow your business, all in an easy to use package.
%p
  = link_to 'Back to Services', '/services'
.clear
.work_examples
  = image_tag 'sportgraphics.png'
  .work_examples_content
    %h3 Sportgraphics 
    %p
      Sportgraphics has photographed most of the major regattas since 1986 in the U.S., Canada, and England. You can check out their Archive to see if they've covered an event you've competed in. You can order your photo right online within minutes using their secure order form. Look for Sport Graphics at an upcoming event.
  .clear
.work_examples
  = image_tag 'dsp.png'
  .work_examples_content
    %h3 Deep South Fibers 
    %p
      Deep South Fibers, the innovative source for ‘all things knitting,’ supports and advances designers and retailers in the needle arts industry through innovation, insight and accessibility.
  .clear

.work_examples
  = image_tag 'itm.png'
  .work_examples_content
    %h3 In the Making 
    %p
      ShopITM.com is a 5000+ item online store specializing in knitting items.
  .clear

.work_examples
  = image_tag 'scooter.png'
  .work_examples_content
    %h3 ScooterCoolers
    %p
      Scootercoolers.com is the home of the sales and distribution of Cruzin Coolers in Alabama. 
  .clear



