- content_for :title do
  Services &ndash; Isotope|eleven
 
#internal-title	
  %h2{:class => "typeface-js"}
    Services 

  %p
    At Isotope|eleven, we don't just produce normal websites, we offer complete turn-key and custom solutions to any issue that your business may have. We provide custom programming with primary focus on Rails development. We have extensive experience developing Facebook applications, websites focusing on photo storage and sales, social networking sites, ecommerce websites and technology for startups. Follow the links below to learn more about what we offer you and your company.
%h3{:class => "typeface-js"}
  Follow the links to learn more
%hr
.work_services_wrap
  %a{:href => "/services/phasezero", :class => "services_link"}
    Link to Phase Zero
  .work_services_img
    %a{:href => "/services/phasezero"}
      = image_tag 'feature_phasezero.png'
  .work_services_text 
    %h4{:class => "typeface-js"}
      %a{:href => "/services/phasezero"}
        Phase Zero
    %a{:href => "/services/phasezero"}
      Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project...

.work_services_wrap
  %a{:href => "/services/socialmedia", :class => "services_link"}
    Link to Social Media 
  .work_services_img
    %a{:href => "/services/socialmedia"}
      = image_tag 'feature_social.png'
  .work_services_text  
    %h4{:class => "typeface-js"}
      %a{:href => "/services/socialmedia"}
        Social Media
    %a{:href => "/services/socialmedia"}
      Social Media is all the buzz. Work with a team that knows the ins and outs of the business... 

.work_services_wrap
  %a{:href => "/services/ecommerce", :class => "services_link"}
    Link to E-Commerce 
  .work_services_img
    %a{:href => "/services/ecommerce"}
      = image_tag 'feature_ecom.png'
  .work_services_text 
    %h4{:class => "typeface-js"}
      %a{:href => "/services/ecommerce"}
        E-Commerce
    %a{:href => "/services/ecommerce"}
      Ready to get your business online, and move beyond a basic webpage?...
.work_services_wrap
  %a{:href => "/services/mlm", :class => "services_link"}
    Link to MLM
  .work_services_img_mlm
    %a{:href => "/services/mlm"}
      = image_tag 'feature_mlm.png'
  .work_services_text  
    %h4{:class => "typeface-js"}
      %a{:href => "/services/mlm"}
        MLM
    %a{:href => "/services/mlm"}
      Need multi-level marketing? We have the complete solution... 
.work_services_wrap
  %a{:href => "/services/financial", :class => "services_link"}
    Link to Financial
  .work_services_img
    %a{:href => "/services/financial"}
      = image_tag 'feature_financial.png'
  .work_services_text 
    %h4{:class => "typeface-js"}
      %a{:href => "/services/financial"}
        Financial
    %a{:href => "/services/financial"}
      Having architected, developed and maintained one of the largest Ruby based financial applications in the world... 

.work_services_wrap
  %a{:href => "/services/insurance", :class => "services_link"}
    Link to Insurance
  .work_services_img
    %a{:href => "/services/insurance"}
      = image_tag 'feature_insurance.png'
  .work_services_text  
    %h4{:class => "typeface-js"} 
      %a{:href => "/services/insurance"}
        Insurance
    %a{:href => "/services/insurance"}
      Many factors go into formulating a successful and accurate insurance quote... 

.work_services_wrap
  %a{:href => "/services/mobile", :class => "services_link"}
    Link to Mobile
  .work_services_img
    %a{:href => "/services/mobile"}
      = image_tag 'feature_mobile.png'
  .work_services_text
    %h4{:class => "typeface-js"}
      %a{:href => "/services/mobile"}
        Mobile
    %a{:href => "/services/mobile"}
      Good mobile applications are much more than a basic functioning iPhone app...  

.work_services_wrap
  %a{:href => "/services/saas", :class => "services_link"}
    Link to SaaS
  .work_services_img
    %a{:href => "/services/saas"}
      = image_tag 'feature_saas.png'
  .work_services_text  
    %h4{:class => "typeface-js"} 
      %a{:href => "/services/saas"}
        SaaS
    %a{:href => "/services/saas"}
      Software as a Service isn't just about recurring revenue... 
.clear
