#footer
  #footer-content-wrap
    %ul.footer-content
      %li Isotope 11
      %li 529 Beacon Pkwy W
      %li Suite 105
      %li Birmingham, AL 35209
      %li p: 877.476.8671
      %li f: 205.943.5760
      %li
        e:
        %a{ :href => "mailto:info@isotope11.com"}
          info@isotope11.com
      %li
        &nbsp;

    %ul.footer-content2
      %li
        %a{:href => "/"}
          Home
      %li &ndash;
      %li= link_to 'About', '/about'
      %li &ndash;
      %li= link_to 'Services', '/services'
      %li &ndash;
      %li= link_to 'Blog', '/blog'
      %li &ndash;
      %li= link_to 'Contact', '/home/contact'
      %li &ndash;
      %li= link_to 'Community', '/community'
      %li &ndash;
      %li= link_to 'Payments', '/home/payments'
      %li &ndash;
      %li= link_to 'Careers', '/home/careers'
      - if current_user
        %li &ndash;
        %li= link_to 'New Blog Post', new_post_path
        %li &ndash;
        %li= link_to 'Edit Profile', edit_user_path(current_user)
        %li &ndash;
        %li= link_to 'Logout', destroy_user_session_path
      - else
        %li &ndash;
        %li= link_to "Site Login", new_user_session_path

