#navigation
  %ul.nav
    = tab('/', :home)
    = tab('/about', :about)
    = tab('/work', :work)
    = tab('/home/services', :services)
    = tab('/blog', :blog)
    = tab('/contact', :contact)
    = tab('/home/payments', :payments)

