#navigation
  %ul.nav
    = tab('/', :home)
    = tab('/about', :about)
    = tab('/services', :services)
    = tab('/blog', :blog)
    = tab('/contact', :contact)
    = tab('/home/community', :community)
    = tab('/home/payments', :payments)

