.profile
  %h3
    = bio.name
  %h5
    = bio.position
  %p
    = bio.bio
.profile-pic
  %img{ :src => "/images/about_#{bio.first_name.downcase}_#{bio.last_name.downcase}.png", :alt => "#{bio.name}"}
%br
 
