- content_for :title do
  Isotope|eleven

#project-top
  &nbsp;
#content-wrap
  #content-home
    #project-slider
      .feature-wrap
        .feature
          .feature_title
            %h3
              %a{:href => "services/phasezero"}
                Phase Zero
            = image_tag 'feature_phasezero.png'
          %a{:href => "services/phasezero"}
            Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project...
        .feature
          .feature_title
            %h3
              %a{:href => "services/ecommerce"}
                E-commerce
            = image_tag 'feature_ecom.png'
          %a{:href => "services/ecommerce"}
            Ready to get your business online, and move beyond a basic webpage?...
        .feature
          .feature_title
            %h3
              %a{:href => "services/socialmedia"}
                Social Media
            = image_tag 'feature_social.png'
          %a{:href => "services/socialmedia"}
            Social Media is all the buzz, work with a team that knows the ins and outs of the business...
        .feature-last
          .feature_title
            %h3
              %a{:href => "services/mlm"}
                MLM
            = image_tag 'feature_mlm.png', :class => 'mlm'
          %a{:href => "services/mlm"}
            Need multi-level marketing? We have the complete solution...
    .clear
    #project_slider_bottom
      .feature-wrap
        .feature
          .feature_title
            %h3 
              %a{:href => "services/financial"}
                Financial
            = image_tag 'feature_financial.png'
          %a{:href => "services/financial"}
            Having architected, developed, and maintained one of the largest Ruby based financial applications in the world...
        .feature
          .feature_title
            %h3 
              %a{:href => "services/insurance"}
                Insurance
            = image_tag 'feature_insurance.png'
          %a{:href => "services/insurance"}
            Many factors go into formulating a successful and accurate insurance quote... 
        .feature
          .feature_title
            %h3 
              %a{:href => "services/mobile"}
                Mobile
            = image_tag 'feature_mobile.png'
          %a{:href => "services/mobile"} 
            Good mobile applications are much more than a basic functioning iPhone app... 
        .feature-last
          .feature_title
            %h3
              %a{:href => "services/saas"}
                SaaS
            = image_tag 'feature_saas.png'
          %a{:href => "services/saas" } 
            Software as a service isn't just about re-occurring revenue... 
    
    <!--content featured gallery here -->
    <script type="text/javascript">
    if(!window.slider) var slider={};slider.data=[{"id":"slide-img-1","client":"Financial Services","desc":""},{"id":"slide-img-3","client":"AIUA","desc":""},{"id":"slide-img-4","client":"Sportgraphics","desc":""}];
    </script>
