- content_for :title do
  Isotope11

#project-top
  &nbsp;
#content-wrap
  #content-home
    #project-slider
      .feature-wrap
        .feature
          .feature_title
            %h3 Phase Zero
            = image_tag 'feature_phasezero.png'
          %p Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project. Before coding ever begins, we create a realistic specification to guide your technological development...
        .feature
          .feature_title
            %h3 E-commerce
            = image_tag 'feature_ecom.png'
          %p 
            Ready to get your business online, and move beyond a basic webpage? We leverage proven open source tools such as
            = link_to 'Spree', 'http://spreecommerce.com/' 
            to provide a complete solution for your online sales needs... 
        .feature
          .feature_title
            %h3 Social Media
            = image_tag 'feature_social.png'
          %p Social Media is all the buzz, whether you would like an application that has Twitter, Facebook and texting components, or a social network built from the ground up, we have the experience and expertise to deliver your project on time and on budget... 
        .feature-last
          .feature_title
            %h3 MLM
            = image_tag 'feature_mlm.png', :class => 'mlm'
          %p
            We have a complete multi-level marketing solution which has the following features: Accounts, upline direct and generation based payments and bonuses, integration with third party vendors...  
    .clear
    #project_slider_bottom
      .feature-wrap
        .feature
          .feature_title
            %h3 Financial
            = image_tag 'feature_financial.png'
          %p
            Having architected, developed, and maintained one of the largest ruby based financial applications in the world, we are confident that Isotope|eleven is uniquely placed to develop your next financial product...
        .feature
          .feature_title
            %h3 Insurance
            = image_tag 'feature_insurance.png'
          %p Many factors go into a successful insurance quote, from emergency services, to calculating flood planes, or on demand credit inquiries. 
        .feature
          .feature_title
            %h3 Mobile
            = image_tag 'feature_mobile.png'
          %p Good mobile applications are much more than a basic iPhone app. They need integration with the cloud so that users may share their location, and interact in real time with other users of the platform. 
        .feature-last
          .feature_title
            %h3 SaaS
            = image_tag 'feature_saas.png'
          %p Software as a service isn't just about re-occurring revenue, its about delivering highly available internet-enabled applications to your customers. 
    
    <!--content featured gallery here -->
    <script type="text/javascript">
    if(!window.slider) var slider={};slider.data=[{"id":"slide-img-1","client":"Financial Services","desc":""},{"id":"slide-img-3","client":"AIUA","desc":""},{"id":"slide-img-4","client":"Sportgraphics","desc":""}];
    </script>
