- content_for :title do
  Work &ndash; Isotope11
 
#internal-title	
  %h2{:class => "typeface-js"}
    Work

%p
  At Isotope11, we don't just produce normal websites, we offer complete turn-key and custom solutions to any issue that your business may have. Follow the links below to learn more about what we offer you and your company. 

%h3{:class => "typeface-js"}
  Follow the links to learn more
%hr
.work_services_wrap
  %a{:href => "/work/phasezero", :class => "services_link"}
    Link to Phase Zero
  .work_services_img
    %a{:href => "/work/phasezero"}
      = image_tag 'feature_phasezero.png'
  .work_services_text 
    %h4{:class => "typeface-js"}
      %a{:href => "/work/phasezero"}
        Phase Zero
    %a{:href => "/work/phasezero"}
      Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project.

.work_services_wrap
  %a{:href => "/work/socialmedia", :class => "services_link"}
    Link to Social Media 
  .work_services_img
    %a{:href => "/work/socialmedia"}
      = image_tag 'feature_social.png'
  .work_services_text  
    %h4{:class => "typeface-js"}
      %a{:href => "/work/socialmedia"}
        Social Media
    %a{:href => "/work/socialmedia"}
      Social Media is all the buzz, work with a team that knows the ins and outs of the business. 

.work_services_wrap
  %a{:href => "/work/ecommerce", :class => "services_link"}
    Link to E-Commerce 
  .work_services_img
    %a{:href => "/work/ecommerce"}
      = image_tag 'feature_ecom.png'
  .work_services_text 
    %h4{:class => "typeface-js"}
      %a{:href => "/work/ecommerce"}
        E-Commerce
    %a{:href => "/work/ecommerce"}
      Ready to get your business online, and move beyond a basic webpage?
.work_services_wrap
  %a{:href => "/work/mlm", :class => "services_link"}
    Link to MLM
  .work_services_img_mlm
    %a{:href => "/work/mlm"}
      = image_tag 'feature_mlm.png'
  .work_services_text  
    %h4{:class => "typeface-js"}
      %a{:href => "/work/mlm"}
        MLM
    %a{:href => "/work/mlm"}
      Need multi-level marketing? We have the complete solution. 
.work_services_wrap
  %a{:href => "/work/financial", :class => "services_link"}
    Link to Financial
  .work_services_img
    %a{:href => "/work/financial"}
      = image_tag 'feature_financial.png'
  .work_services_text 
    %h4{:class => "typeface-js"}
      %a{:href => "/work/financial"}
        Financial
    %a{:href => "/work/financial"}
      Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project.

.work_services_wrap
  %a{:href => "/work/insurance", :class => "services_link"}
    Link to Insurance
  .work_services_img
    %a{:href => "/work/insurance"}
      = image_tag 'feature_insurance.png'
  .work_services_text  
    %h4{:class => "typeface-js"} 
      %a{:href => "/work/insurance"}
        Insurance
    %a{:href => "/work/insurance"}
      Many factors go into formulating a successful and accurate insurance quote. 

.work_services_wrap
  %a{:href => "/work/mobile", :class => "services_link"}
    Link to Mobile
  .work_services_img
    %a{:href => "/work/mobile"}
      = image_tag 'feature_mobile.png'
  .work_services_text
    %h4{:class => "typeface-js"}
      %a{:href => "/work/mobile"}
        Mobile
    %a{:href => "/work/mobile"}
      Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project.

.work_services_wrap
  %a{:href => "/work/saas", :class => "services_link"}
    Link to SaaS
  .work_services_img
    %a{:href => "/work/saas"}
      = image_tag 'feature_saas.png'
  .work_services_text  
    %h4{:class => "typeface-js"} 
      %a{:href => "/work/saas"}
        SaaS
    %a{:href => "/work/saas"}
      Software as a service isn't just about re-occurring revenue. 

.clear
