- content_for :title do
  Contract Acceptance Framework &ndash; Community &ndash; Isotope|eleven

#internal-title	
  %h2{:class => "typeface-js"}
    Community 
.work_content_right
  = image_tag '/images/phase_zero.png', :alt => 'contract_acceptance_framework image'
  %h4 contract_acceptance_framework
  .clear
  %ul 
    %li
      = link_to('RubyGem page', 'http://rubygems.org/gems/contract_acceptance_framework')
    %li 
      = link_to('Github Repo', 'http://github.com/isotope11/contract_acceptance_framework')
.work_content_left
  %h3{:class => "typeface-js"}
    contract_acceptance_framework
  %p
    = link_to('contract_acceptance_framework', 'http://github.com/isotope11/contract_acceptance_framework')
    is a gem that allows rails objects to agree to versioned contracts.
  %p
    = link_to 'Back to Community', '/community'
.clear

