- content_for :title do
  Community &ndash; Isotope|eleven

#internal-title
  %h2.typeface-js 
    Community
  %p
    When we're not constantly churning out work, we like to pick up and try out new development technologies and further hone our skills and also give back to the great Ruby community by hosting monthly meetings (we have pizza too!). The meetings give many of us here a chance to further research interesting topics and present to and discuss with other Ruby enthusiasts. 
%hr

.work_services_wrap
  = link_to 'Xrono', '/community/xrono', :class => 'services_link'
  .work_services_img
    = link_to(image_tag('feature_xrono.png'), '/community/xrono') 
  .work_services_text
    %h4{:class => "typeface-js"}
      = link_to 'Xrono', '/community/xrono'
    = link_to 'Track your companies time and profitability with our open source project, Xrono', '/community/xrono'  

.work_services_wrap
  = link_to 'RubyHam', '/community/rubyham', :class => 'services_link'
  .work_services_img
    = link_to(image_tag('feature_rubyham.png'), '/community/rubyham')
  .work_services_text  
    %h4{:class => "typeface-js"}
      = link_to 'RubyHam', '/community/rubyham'
    = link_to 'Meet and learn with other Ruby professionals and enthusiasts in the greater Birmingham area.', '/community/rubyham' 

.work_services_wrap
  = link_to 'state_machine_audits', '/community/state_machine_audits', :class => 'services_link'
  .work_services_img
    = link_to(image_tag('feature_saas.png'), '/community/state_machine_audits')
  .work_services_text  
    %h4{:class => "typeface-js"}
      = link_to 'state_machine_audits', '/community/state_machine_audits'
    = link_to 'is a gem intended to be used in conjunction with the state_machine gem...', '/community/state_machine_audits' 

.work_services_wrap
  = link_to 'TechBirmingham', '/community/techbirmingham', :class => 'services_link'
  .work_services_img
    = link_to(image_tag('techbirmingham_logo.png'), '/community/state_machine_audits')
  .work_services_text  
    %h4{:class => "typeface-js"}
      = link_to 'TechBirmingham', '/community/techbirmingham'
    = link_to 'Isotope|Eleven is a silver sponsor for TechBirmingham...', '/community/techbirmingham' 

.work_services_wrap
  = link_to 'contract_acceptance_framework', '/community/contract_acceptance_framework', :class => 'services_link'
  .work_services_img
    = link_to(image_tag('feature_saas.png'), '/community/contract_acceptance_framework')
  .work_services_text  
    %h4{:class => "typeface-js"}
      = link_to 'Contract Acceptance', '/community/contract_acceptance_framework'
    = link_to 'is a gem that allows rails objects to agree to versioned contracts.', '/community/contract_acceptance_framework' 
.clear
