= render :partial => @post
%p
  = link_to "All Posts", blog_path
  |
  = link_to "All Posts by #{@post.user}", about_path(@post.user)
- if current_user == @post.user || current_user.admin?
  %p= link_to 'Edit', edit_post_path(@post)  
- if current_user.admin?
  %p= button_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?"
