!!! Strict
%html
  %head
    %title
      = yield :title
    = render :partial => 'shared/meta'
    = stylesheet_link_tag 'reset-min', 'screen'
  %body.internal
    #main-wrap
      #header-internal
        #title-bar-internal
          = render :partial => "shared/header"
      #content-wrap
        #content
          = render :partial => "shared/flashes"
          = yield
          %br.clear 
    = render :partial => "shared/footer"
    = render :partial => 'shared/javascripts'
