!!! Strict
%html
  %head
    %title
      = yield :title
    = render :partial => 'shared/meta'
    = stylesheet_link_tag 'reset-min', 'screen'
  %body.internal
    #main-wrap
      #header-internal
        #title-bar-internal
          #top-bar
            %h1= link_to 'Isotope11', root_path
            #user_nav= link_to "Login", 'http://assets.isotope11.com'
            = render :partial => "shared/site_menu"
      #content-wrap
        #content
          -if flash[:error]
            .error= flash[:error]
          -if flash[:notice]
            .notice= flash[:notice]
          = yield
          %br.clear 
    = render :partial => "shared/footer"
  = render :partial => 'shared/javascripts'
