!!! Strict
%html
  %head
    %title
      = yield :title
    = render :partial => 'shared/meta'
    = stylesheet_link_tag 'reset-min', 'screen'
  %body
    #main-wrap
      #header
        #title-bar
          = render :partial => "shared/header"
          #title
            %h2.typeface-js Web Development Done Right!
            %h3 We are a technology consulting firm which provides web based software development and design services. We believe in a team based, test driven, iterative development process which keeps our projects on target yet provides enough flexibility for the inevitable emerging requirements.
      = yield
      = render :partial => "shared/flashes"
      %br.clear
    = render :partial => "shared/footer" 
    = render :partial => 'shared/javascripts'
